<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Gestão da Clínica</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <header>
        <h1>Clínica</h1>
    </header>
    <nav>
        <a href="{% url 'lista_medicos' %}">Ver Médicos</a>
        <a href="{% url 'cadastrar_medico' %}">Cadastrar Médico</a>
        <a href="{% url 'lista_especialidades' %}">Ver Especialidades</a>
        <a href="{% url 'cadastrar_especialidade' %}">Cadastrar Especialidade</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>