{% extends 'medico/base.html' %}

{% block content %}
    <h2>Cadastrar Novo Médico</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome_input">Nome:</label>  
            <input type="text" class="form-control" id="nome_input" name="nome" required>
        </div>
        <div class="form-group">
            <label for="sobrenome_input">Sobrenome:</label>  
            <input type="text" class="form-control" id="sobrenome_input" name="sobrenome" required>
        </div>
        <div class="form-group">
            <label for="email_input">Email:</label>  
            <input type="email" class="form-control" id="email_input" name="email" required>
        </div>
        <div class="form-group">
            <label for="especialidades_select">Especialidades (segure Ctrl/Cmd para selecionar várias):</label>  
            <select name="especialidades" class="form-control" id="especialidades_select" multiple required>
                {% for especialidade in especialidades %}
                    <option value="{{ especialidade.id }}">{{ especialidade.nome_especialidade }}</option>
                {% empty %}
                    <option disabled>Nenhuma especialidade cadastrada. Cadastre uma primeiro.</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn">Salvar Médico</button>
    </form>
{% endblock %}
