{% extends 'medico/base.html' %}

{% block content %}
    <h2>Cadastrar Nova Especialidade</h2>
    
    <form method="post" action="{% url 'cadastrar_especialidade' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome_especialidade_input">Nome da Especialidade:</label>
            <input type="text" class="form-control" id="nome_especialidade_input" name="nome_especialidade" required>
        </div>
        <button type="submit" class="btn">Salvar Especialidade</button>
    </form>
{% endblock %}
