{% extends 'medico/base.html' %}

{% block content %}
    <h2>Cadastrar Novo Médico</h2>

    <form method="post">
        {% csrf_token %}
        <p>
            <label for="nome_input">Nome:</label>  

            <input type="text" id="nome_input" name="nome" required>
        </p>
        <p>
            <label for="sobrenome_input">Sobrenome:</label>  

            <input type="text" id="sobrenome_input" name="sobrenome" required>
        </p>
        <p>
            <label for="email_input">Email:</label>  

            <input type="email" id="email_input" name="email" required>
        </p>
        <p>
            <label for="especialidades_select">Especialidades (segure Ctrl/Cmd para selecionar várias):</label>  

            <select name="especialidades" id="especialidades_select" multiple required>
                {% for especialidade in especialidades %}
                    <option value="{{ especialidade.id }}">{{ especialidade.nome_especialidade }}</option>
                {% empty %}
                    <option disabled>Nenhuma especialidade cadastrada. Cadastre uma primeiro.</option>
                {% endfor %}
            </select>
        </p>
        <button type="submit">Salvar Médico</button>
    </form>
{% endblock %}