{% extends 'medico/base.html' %}

{% block content %}
    <h2>Editando Especialidade</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="nome_especialidade_input">Nome da Especialidade:</label>
            <input type="text" class="form-control" id="nome_especialidade_input" name="nome_especialidade" value="{{ especialidade.nome_especialidade }}" required>
        </div>
        <button type="submit" class="btn">Salvar Alterações</button>
    </form>
      
    <div class="mt-3">
        <a href="{% url 'lista_especialidades' %}">Cancelar e voltar para a lista</a>
    </div>
{% endblock %}
